body {
    background: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    gap: 20px;
}

.box {
    width: 120px;
    height: 120px;
    background: white;
    border-radius: 15px;
}
