* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

nav {
    background: #4a4aff;
    color: white;
    padding: 15px 20px;
    font-size: 20px;
}

.contenido {
    padding: 40px 20px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.cuadro {
    text-align: center;
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 15px;
    object-fit: cover;
    display: block;
}

.cuadro img {
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 15px;
    object-fit: cover;
    display: block;
}

.cuadro p {
    color: white;
    margin-top: 10px;
    font-weight: bold;
}

.contenedor {
    display: flex;
    gap: 20px;
}
